docs/
CLAUDE.md
*:Zone.Identifier
fonts/webfonts/*
!fonts/webfonts/JetBrainsMonoNL-Regular.woff2
!fonts/webfonts/JetBrainsMonoNL-Medium.woff2
!fonts/webfonts/JetBrainsMonoNL-Bold.woff2
krencoder-core-copy.mjs
